parameters:
    level: max
    paths:
        - src
        - benchmarks
        - config
        - database
        - tests/Fixtures
        - tests/Testing
    scanFiles:
        - tests/helpers.php
    configDirectories:
        - %currentWorkingDirectory%/config
    checkOctaneCompatibility: true
    checkModelProperties: true
